<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--全局性设置懒加载。如果设为‘false’，则所有相关联的都会被初始化加载。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--设置查询字段没值的时候自动填充NULL-->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
    <typeAliases>
    </typeAliases>

    <!-- 配置分页插件 -->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="dialect" value="Mysql"/>
            <!-- 设置为true时，使用RowBounds分页会进行count查询 会去查询出总数 -->
            <property name="rowBoundsWithCount" value="true"/>
        </plugin>
    </plugins>

    <mappers>
        <!--加载其他模块的mybatis配置xml文件-->
        <mapper resource="sys/system.xml"/>
        <mapper resource="config/config.xml"/>
        <mapper resource="user/user.xml"/>
        <mapper resource="user/customer.xml"/>
        <mapper resource="statement/statement.xml"/>
        <mapper resource="resource/resource.xml"/>
        <mapper resource="goods/goods.xml"/>
        <mapper resource="order/order.xml"/>
        <mapper resource="goods/spec.xml"/>
        <mapper resource="goods/search.xml"/>
        <mapper resource="goods/classify.xml"/>
        <mapper resource="stock/stock.xml"/>
        <mapper resource="shop/shop.xml"/>
        <mapper resource="collect/collect.xml"/>
        <mapper resource="yanji/yanji.xml"/>
        <mapper resource="coupon/coupon.xml"/>
        <mapper resource="invoice/invoice.xml"/>
        <mapper resource="news/news.xml"/>
        <mapper resource="statistics/statistics.xml"/>
        <mapper resource="report/customerR.xml"/>
        <mapper resource="report/report.xml"/>
    </mappers>

</configuration> 